extends ./layout/index

block content 
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="More information image", class="img-fluid")
            .col-md-7
                h1 #{page}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque leo quis condimentum lacinia. Nunc eget pharetra libero, id tristique enim. Morbi dolor nunc, condimentum sed nisi sed, dapibus facilisis nibh. Phasellus ac commodo nisl, pharetra ullamcorper turpis. In sed enim ut libero maximus gravida sollicitudin eget lectus. Ut id mauris ut est fermentum consectetur ac sed libero. Nam nec tortor vel orci pulvinar porta. Phasellus ac imperdiet nulla. Duis vehicula euismod velit, vitae volutpat ante. In nibh tellus, gravida in nisl at, mattis varius lacus. Integer mattis condimentum nulla, a suscipit arcu viverra accumsan. Quisque sollicitudin tincidunt tempus. Phasellus risus nisl, lobortis nec aliquam ac, tincidunt quis magna.
                
                p interdum varius eros eu lacinia. Sed commodo metus nec ultrices blandit. Aliquam erat volutpat. Quisque lacinia odio ipsum, eu fermentum sapien vehicula ut. Sed id diam id ligula feugiat tempus non eget dui. Proin ac congue nisl. Sed placerat odio quis ante semper mattis. Pellentesque bibendum aliquam tellus, et tristique magna egestas vitae. Aliquam eu lobortis nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean eget orci gravida, venenatis mi pellentesque, cursus nunc. Sed cursus feugiat nisi, hendrerit pretium dolor feugiat vitae. Pellentesque ultricies dui vitae vehicula pretium

                p ipsum dolor sit amet consectetur adipisicing elit. Suscipit ut, qui reprehenderit tenetur soluta provident consequatur vel assumenda, esse ullam consequuntur illo dolorum tempore similique optio facere laborum tempora nemo!

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Security icon", class="img-fluid mb-4")
                    h2.mg-4 Security 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sunt sint deserunt nisi eaque architecto animi in minus eligendi iste harum molestias suscipit cupiditate omnis, aperiam ducimus culpa rerum modi.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Places icon", class="img-fluid mb-4")
                    h2.mg-4 Best Places 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sunt sint deserunt nisi eaque architecto animi in minus eligendi iste harum molestias suscipit cupiditate omnis, aperiam ducimus culpa rerum modi.
                    
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Prices icon", class="img-fluid mb-4")
                    h2.mg-4 Best Prices 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sunt sint deserunt nisi eaque architecto animi in minus eligendi iste harum molestias suscipit cupiditate omnis, aperiam ducimus culpa rerum modi.